RewriteEngine On
RewriteRule ^dashboard$ index.php [NC,L]
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^product-view$ product-detail.php [NC,L]
RewriteRule ^login$ loging.php [NC,L]
RewriteRule ^cart$ cart.php [NC,L]
RewriteRule ^diagram$ diagram.php [NC,L]
RewriteRule ^diagram-home$ diagram_list.php [NC,L]

RewriteRule ^shop$ shop.php [NC,L]
